@media screen and (max-width: 650px) {
    
/* Mobile Styles */

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        input[type="text"],input[type="email"],input[type="password"],input[type="tel"]{
            border-radius:5px;
            border-width:2px;
            border-color:rgb(30 58 138);
        }

        #DISPLAY-CONTAINER{
            background-color: whitesmoke;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-left: 100px;
            margin-bottom: 20px;
            margin-top: 100px;
            height: 500px;
            width: 350px;
            border-radius: 10px;

            /*className='flex flex-col justify-center relative items-center px-2 py-4  '*/
        }

        #FORM-CONTAINER{
            overflow: hidden;
            width:min-content;
            height:450px;
 
        }

        #progressBar div{
            background-color: grey;
        }
        

        #progressBar :nth-child(1){
            background-color: yellow;
        }

        #progressBar{
            display:inline-flex;
            justify-content:center;
            width: 100%;
            height: 40px;
            position: absolute;
            top: -20px;
            background-image: url("/images/bg-sidebar-mobile.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: "center";
        }


        #PLANS-FORM{
            visibility: hidden;
            position: absolute;
            left: 540px;
            top:60px;
        }

        #SUMMARY{
            visibility: hidden;
            position: absolute;
            left: 540px;
            top:60px;
        }

        #PERSONAL_INFO{
            position: static;
            
        }

        #ADDONS-FORM{
            visibility: hidden;
            position: absolute;
            left: 540px;
            top:60px;
        }

        h1,h2,h3,h4,h5,h6{
            color:#102547
            
        }

}




/*Desktop Styles*/



@media screen and (min-width: 651px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }


    #DISPLAY-CONTAINER{
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-left: 100px;
        margin-bottom: 20px;
        margin-top: 100px;
        height: 450px;
        width: 600px;
        border-radius: 10px;

    }
    
    #progressBar{
        display:flex;
        justify-content:space-evenly;
        align-items: center;
        flex-direction: column;
        width: 200px;
        height: 450px;
        position: absolute;
        left: 0px;
        background-image: url("/images/bg-sidebar-desktop.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: "center";
        border-radius: 10px;
    }
  



    #FORM-CONTAINER{
        overflow: hidden;
        width:100%;
        height:500px;
        margin-left: 300px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #progressBar div{
        background-color: grey;
    }

    #progressBar span:nth-of-type(1)::after{
        content: "YOUR PERSONAL INFO";
    }
    #progressBar span:nth-of-type(2)::after{
        content: "SELECT PLAN";
    }

    #progressBar span:nth-of-type(3)::after{
        content: "ADD-ONS";
    }

    #progressBar span:nth-of-type(4)::after{
        content: "SUMMARY";
    }

    #progressBar  span{
        color: white;
        font-weight: bold;
    }

    #progressBar div:nth-of-type(1){
        background-color: yellow;
    }

    #PLANS-FORM{
        visibility: hidden;
        position: absolute;
        left: 540px;
        top:60px;
    }

    #SUMMARY{
        visibility: hidden;
        position: absolute;
        left: 540px;
        top:60px;
    }

    #PERSONAL_INFO{
        position: static;
        
    }

    #ADDONS-FORM{
        visibility: hidden;
        position: absolute;
        left: 540px;
        top:60px;
    }

    h1,h2,h3,h4,h5,h6{
        color:#102547
        
    }

}